<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cl.tcgplanet.persistence.ClientMapper">
    <cache />

    <select id="getClient" parameterType="Client" resultType="Client">
        SELECT id, name, last_name as lastName, email, phone, birth_date, user, pass FROM client
        WHERE ID = #{id}
    </select>

    <select id="getAllClients" resultType="Client">
        SELECT id, name, last_name as lastName, email, phone, birth_date, user, pass FROM client
    </select>

    <insert id="insertClient" parameterType="Client">
        INSERT INTO product (firstName, lastName, email)
        VALUES (#{firstName}, #{lastName}, #{email})
    </insert>

    <update id="updateClient" parameterType="Client">
        UPDATE product SET
            firstName = #{firstName},
            lastName = #{lastName},
            email = #{email}
        WHERE ID = #{id}
    </update>
    
    <delete id="deleteClient" parameterType="Client">
        UPDATE product SET
            firstName = #{firstName},
            lastName = #{lastName},
            email = #{email}
        WHERE ID = #{id}
    </delete>
</mapper>